<form aria-label="Multi-step insurance form" [formGroup]="form" (ngSubmit)="onSubmit()" class="container py-4" *ngIf="form && pages?.length" novalidate>
  <div *ngIf="pages[currentPageIndex] as page">
    <!-- FORM STEPS -->
    <ng-container *ngIf="currentPageIndex < pages.length - 1">
      <ng-container *ngFor="let section of page.sections">
        <ng-container *ngIf="formEngineService.isSectionVisible(section, form)">
          <h3>{{ section.title }}</h3>

          <!-- REPEATED SECTION -->
          <ng-container *ngIf="section.repeatFor?.key as repeatKey; else nonRepeatingSection">
            <ng-container *ngFor="let i of formEngineService.getRepeatArray(form.get(repeatKey)?.value || 0)">
              <div class="border rounded p-3 mb-3">
                <h4>{{ section.title }} {{ i + 1 }}</h4>
                <ng-container *ngFor="let question of section.questions">
                  <div *ngIf="formEngineService.isVisible(question, form)">
                    <ng-container *ngIf="form.get(question.key + '_' + i) as ctrl">
                      <app-question-renderer [question]="question" [ctrl]="ctrl" [form]="form" [index]="i">
                      </app-question-renderer>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>

          <!-- NON-REPEATING SECTION -->
          <ng-template #nonRepeatingSection>
            <ng-container *ngFor="let question of section.questions">
              <div *ngIf="formEngineService.isVisible(question, form)">
                <ng-container *ngIf="form.get(question.key) as ctrl">
                  <app-question-renderer [question]="question" [ctrl]="ctrl" [form]="form">
                  </app-question-renderer>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>

        </ng-container>
      </ng-container>
    </ng-container>

    <!-- CONFIRMATION SUMMARY (last page) // This can be moved and used as a router link -->
    <ng-container *ngIf="currentPageIndex === pages.length - 1">
      <app-form-summary [pages]="pages" [form]="form"></app-form-summary>
    </ng-container>

    <!-- NAV BUTTONS -->
    <div class="mt-4 d-flex justify-content-between">
      <button type="button" class="btn btn-outline-secondary" (click)="goToPreviousStep()" [disabled]="currentPageIndex === 0" *ngIf="currentPageIndex > 0">Back</button>
      <button type="button" class="btn btn-primary" (click)="goToNextStep()" *ngIf="currentPageIndex < pages.length - 1">Next</button>
      <button type="submit" class="btn btn-success" *ngIf="currentPageIndex === pages.length - 1">Submit</button>
    </div>
  </div>

</form>