<div class="mb-3" [ngSwitch]="question.type">
  <!-- Text Input -->
  <div *ngSwitchCase="'text'">
    <label class="form-label">{{ question.label }}</label>
    <input-with-directive
      [formControl]="ctrl"
      [directive]="question.directive"
      [inputType]="question.inputType"
      [className]="'form-control'"
      [mask]="question.mask"
      [disabled]="ctrl.disabled"
      [ngClass]="{ 'is-invalid': ctrl.invalid && (ctrl.touched || ctrl.dirty) }"
    />
    <div class="invalid-feedback" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">
      <ng-container *ngIf="ctrl.errors?.['required']">This field is required.</ng-container>
      <ng-container *ngIf="ctrl.errors?.['mathValidation']">{{ ctrl.errors['mathValidation'] }}</ng-container>
    </div>
  </div>

  <!-- Textarea -->
  <div *ngSwitchCase="'textarea'">
    <label class="form-label">{{ question.label }}</label>
    <textarea
      class="form-control"
      [formControl]="ctrl"
      [disabled]="ctrl.disabled"
      [ngClass]="{ 'is-invalid': ctrl.invalid && (ctrl.touched || ctrl.dirty) }"
    ></textarea>
    <div class="invalid-feedback" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">This field is required.</div>
  </div>

  <!-- Select Dropdown -->
  <div *ngSwitchCase="'select'">
    <label class="form-label">{{ question.label }}</label>
    <select
      class="form-select"
      [formControl]="ctrl"
      [disabled]="ctrl.disabled"
      [ngClass]="{ 'is-invalid': ctrl.invalid && (ctrl.touched || ctrl.dirty) }"
    >
      <option *ngFor="let opt of question.options" [value]="opt.value">{{ opt.label }}</option>
    </select>
    <div class="invalid-feedback" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">Please select an option.</div>
  </div>

  <!-- Radio Group -->
  <div *ngSwitchCase="'radio'">
    <label class="form-label d-block">{{ question.label }}</label>
    <div class="form-check" *ngFor="let opt of question.options">
      <input
        type="radio"
        class="form-check-input"
        [value]="opt.value"
        [formControl]="ctrl"
        [name]="question.key"
        [id]="question.key + '_' + opt.value"
        [disabled]="ctrl.disabled"
      />
      <label class="form-check-label" [for]="question.key + '_' + opt.value">{{ opt.label }}</label>
    </div>
    <div class="text-danger small" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">Please select an option.</div>
  </div>

  <!-- Checkbox Group -->
  <div *ngSwitchCase="'checkbox-group'">
    <label class="form-label d-block">{{ question.label }}</label>
    <div class="form-check" *ngFor="let opt of question.options">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="ctrl.value?.includes(opt.value)"
        [disabled]="ctrl.disabled"
        (change)="toggleCheckbox(opt.value)"
      />
      <label class="form-check-label">{{ opt.label }}</label>
    </div>
    <div class="text-danger small mt-1" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">
      Please select at least one option.
    </div>
  </div>

  <!-- Number Input -->
  <div *ngSwitchCase="'number'">
    <label class="form-label">{{ question.label }}</label>
    <input
      type="number"
      class="form-control"
      [formControl]="ctrl"
      [ngClass]="{
        'is-invalid': ctrl.invalid && (ctrl.touched || ctrl.dirty),
        'bg-light': question.math
      }"
      [disabled]="ctrl.disabled"
      [attr.min]="question.min"
      [attr.max]="question.max"
      [readonly]="question.math != null"
      [attr.step]="question.step || 1"
      (blur)="clampValue()"
    />
    <div class="invalid-feedback" *ngIf="ctrl.invalid && (ctrl.touched || ctrl.dirty)">
      <ng-container *ngIf="ctrl.errors?.['required']">This field is required.</ng-container>
      <ng-container *ngIf="ctrl.errors?.['mathValidation']">{{ ctrl.errors['mathValidation'] }}</ng-container>
      <ng-container *ngIf="ctrl.errors?.['min']">Minimum allowed is {{ question.min }}.</ng-container>
      <ng-container *ngIf="ctrl.errors?.['max']">Maximum allowed is {{ question.max }}.</ng-container>
    </div>
  </div>
</div>
